body, html {
    height: 70%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
body {
    margin-top: 140px; /* Siirtää koko sivun sisältöä alemmas */
  }
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}
.button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button-container button {
    padding: 20px 90px;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: grab;
    background-color: #9cee9d;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #90f195;
}


@media (max-width: 768px) {
    .leipateksti {
      width: 90%;
      padding-left: 10px;
    }
    .button-container {
      display: flex;
      gap: 10px;
      flex-direction: column;
    }
  }

  div {
    margin-bottom: 50px;
  }
  
