body, html{
  background-color: rgb(244, 255, 247);
  padding: 20px;
  margin: 20px;
}
  
  .button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button-container button {
    padding: 10px 20px; 
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: grab;
    background-color: #9cee9d;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #90f195;
}
  
  h1 {
    text-align: center;
    width: 100%;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .text {
    text-align: left;
    width: 40%;             
    margin-left: 0;         
    padding-left: 20px;      
    margin-top: 50px;
    margin: 50px;
    line-height: 1.8;      
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .image {
    display: flex;
    align-items: flex-start;
    width: 35%;
    height: auto;
    border-radius: 50px;
    margin-left: auto;
    display: block;        
    margin-right: 0;
    max-width: 100%; 
  }
  
  @media (max-width: 750px) {
    h1 {
      font-size: 24px;
    }
    p{
      width: 90%;
      padding-left: 10px;
    }
  
    nav div {
      display: block;
      margin-bottom: 10px;
    }
  
    .image img {
      width: 100%;
    }
    
  }